#it-center {
    font-size: 50px;
    color: #4A4A4A;
}

.banner {
    height: 700px;
}

.heading-size {
    font-size: 80px;
}

.banner-font {
    margin-bottom: 170px;
}

.It-button {
    color: white;
    background-color: #289BDE;
    padding: 13px 25px;
    border-radius: 5px;
    border: 0;
    font-size: 22px;
    margin-top: 20px;
}

.register-btn {
    font-size: 22px;
    color: #289BDE;
    background-color: white;
    border: 0;
    text-decoration: none;
    padding: 13px 25px;
    border-radius: 5px;
}

.b {
    background-color: white;
    padding: 13px 25px;
}